name: msgs

on:
  schedule:
  - cron: '4 5 * * *'
  workflow_dispatch:

jobs:
  msgs:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/setup-go@v3
      with:
        go-version: "1.24"

    - run: go install mvdan.cc/gofumpt@v0.5.0

    - uses: actions/checkout@v4

    - run: make msgs-nodocker

    - run: |
        test -z "$(git status --porcelain)" ||
        ( make test-nodocker \
        && git add . \
        && git config user.name goroslib-bot \
        && git config user.email bot@goroslib \
        && git commit -m "(automatic) update messages" \
        && git push )
