name: test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        go: ["1.20", "1.21", "1.22"]

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go }}

    - run: make test-nodocker

    - if: matrix.go == '1.22'
      uses: codecov/codecov-action@v3
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
